# Настройки Telegram
# Токен от @BotFather
BOT_TOKEN=12345:ABCDEF

# Настройки базы данных
# Важно: используйте 'db' как хост, если запускаете через Docker
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="crypto_bot"

# URL для подключения к БД: замените user, password и crypto_bot на свои значения POSTGRES_USER,
# POSTGRES_PASSWORD и POSTGRES_DB
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/crypto_bot